# Core options
database           = "postgres:#steampipe@localhost:9193/steampipe"
notifier           = "default"
notification_level = "info"
approvers          = []
max_concurrency    = 1

apigateway_rest_api_stage_if_xray_tracing_disabled_default_action = "enable_xray_tracing"